:root {
  --blue: #2196f3;
  --white: #afb1b8;
}

body {
  font-family: "Roboto", normal;
  color: #212121;
  text-decoration: none;
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
header {
  width: 100%;
  height: 85px;
  background: #ffffff;
  font-family: inherit;
  padding: 0px;
  margin: 0;
}
.header-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
}
.main-description {
  height: 600px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.background-image {
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.all-portfolio {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 94px;
}
.h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03;
  text-transform: uppercase;
  color: #212121;
}
.text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03;
  color: #757575;
  width: 270px;
}

.logo1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  width: 145px;
  height: 39px;
  top: 30px;
  text-decoration: none;
  padding-right: 94px;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.nav1 {
  padding-left: 94px;
  margin: 0 auto;
}
.navilogo {
  display: flex;
  align-items: center;
}
.color-logo {
  color: #2196f3;
  font-weight: 700;
}
.studio {
  color: #000000;
  font-weight: 700;
}
.studio1 {
  color: #ffffff;
  font-weight: 700;
}
.mail1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02;
  color: #757575;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02;
  color: #757575;
  display: flex;
}
.mail-tel {
  display: flex;
  gap: 27px;
}
.list-item1 {
  position: absolute;
  width: 1200px;
  height: 101px;
  top: 774px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  width: 100%;
  height: 252px;
  padding-bottom: 0px;
  background: #2f303a;
  direction: underline;
}
.foot-container {
  margin: 0 auto;
}
.header-secorndary {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625;
  text-align: center;
  letter-spacing: 0.03;
  color: #212121;
  padding-top: 94px;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625;
  text-align: center;
  letter-spacing: 0.03;
  color: #212121;
  padding-top: 94px;
  margin: 0 auto;
}
.photos-secondary-box {
  position: absolute;
  width: 1600px;
  left: 0px;
  padding-top: 94px;
  background: #f5f4fa;
  align-items: center;
}

.photos-main1 {
  width: 1200px;
  height: 385px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.name-photos-main1 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
}
.photo1 {
  width: 370px;
  height: 294px;
}
.photo2 {
  width: 370px;
  height: 294px;
}
.photo3 {
  width: 370px;
  height: 294px;
}
.photos-main2 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
.name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.name-of-work {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 16px;
}
.logo2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9375;
  letter-spacing: 0.03;
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.color-address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03;
  padding-top: 10px;
  padding-bottom: 9px;
}
.contact {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}

.underline {
  position: relative;
}
.underline:hover {
  color: #2196f3;
  border-radius: 2px;
}
.underline::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #2196f3;
  width: 100%;
  border-radius: 2px;
  bottom: -50px;
  left: 0px;
}

.text-button {
  margin-top: 94px;
  margin-bottom: 40px;
  color: #212121;
  display: inline-flex;
  padding-top: 109;
  padding-left: 0;
  gap: 8px;
}
.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color;
}
.button-order {
  border: none;
  cursor: pointer;
  display: block;
  background-color: var(--blue);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  border-radius: 4px;
  padding: 10px 41px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
button:hover,
button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px #f5f4fa;
  color: #ffffff;
}
button {
  font-family: inherit;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.color-change {
  display: flex;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, color;
}
.color-change:hover,
.color-change:focus.color-change::after {
  color: #2196f3;
  fill: #2196f3;
}

.pointer {
  cursor: pointer;
}

.frame {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  margin: 0px;
}
.figcaption3 {
  padding-left: 24px;
  font-weight: 700;
  padding-bottom: 4px;
}
.figcapiton1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06;
  color: #212121;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}
.figcapition2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03;
  color: #757575;
  padding-left: 20px;
  padding-top: 4px;
  margin: 0;
  padding-bottom: 20px;
}
.card-set-2 {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding-left: 0;
  gap: 20px;
  justify-content: center;
}
.header-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 94px auto;
  margin: 0 auto;
}
.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
  padding: 94px auto;
}
.contact1-container {
  padding-bottom: 9px;
  margin: 0 auto;
  padding-right: 70px;
}

.container-lorem {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.svg-lorem {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 94px auto;
  background: #f5f4fa;
}
.list-primary-item {
  width: 1270px;
  padding-right: 38px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.lorem1 {
  width: 270px;
  padding-right: 38px;
}
.lorem2 {
  width: 270px;
  padding-right: 38px;
}
.lorem3 {
  width: 270px;
  padding-right: 38px;
}
.lorem4 {
  width: 270px;
  padding-right: 38px;
}
.containet-main-part1 {
  width: 1600px;
  background-color: #e5e5e5;
}
.container-main-part2 {
  padding: 94px auto;
  background-color: #f5f4fa;
  margin: 0 auto;
  box-shadow: 5px 5px #afb1b8;
}
.photo11 {
  width: 270px;
  padding-right: 30px;
  margin: 0px auto;
}

.photo22 {
  width: 270px;
  padding-right: 30px;
  margin: 0px auto;
}
.photo33 {
  width: 270px;
  padding-right: 30px;
  margin: 0px auto;
}
.photo44 {
  width: 270;
  margin: 0px auto;
}
img {
  display: block;
}

figure {
  margin: 0;
  border: 1px solid #eeeeee;
}
.join-to-us {
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.socials-icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 70px;
}

.socials {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: row;
  fill: #ffffff;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}

.socials:hover,
.socials:focus {
  cursor: pointer;
  background-color: var(--blue);
}
.socials1 {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white);
  display: inline;
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}
.socials1:hover,
.socials1:focus {
  cursor: pointer;
  fill: #ffffff;
  background-color: var(--blue);
}
.icon-socials1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  margin: 0 auto;
}
.svg-clients {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.svg-icon-client {
  color: #afb1b8;
  width: 170px;
  height: 92px;
  gap: 30px;
  cursor: pointer;
  fill: var(--white);
  border: 1px solid var(--white);
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, border-color;
}

.svg-icon-client:hover,
.svg-icon-client:focus {
  border: 1px solid var(--blue);
  fill: var(--blue);
}

.conatiner-main-part3 {
  padding: 94px auto;
  background-color: white;
  margin: 0 auto;
}
.header-icons1 {
  margin-right: 10px;
  margin-left: 31px;
  width: 16px;
  height: 20px;
}
.header-icons2 {
  margin-right: 10px;
  margin-left: 31px;
  width: 10px;
  height: 16px;
}
.all-foot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  margin: 0 auto;
  padding: 0 auto;
}
.subscribe-to-news {
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 78px;
  display: flex;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.e-mail-foot {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 16px;
}
.subscribe {
  background: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  width: 205.88px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sub-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-left: 78px;
}

.light-portfolio:hover,
.light-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.overlay-box {
  position: relative;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
}
.overlay-portfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  will-change: transform;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-portfolio > p {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  margin: 0;
  font-size: 18px;
  padding: 24px 49px 45px 49px;
}
.figure-card-set-2:hover .overlay-portfolio,
.figure-card-set-2:focus .overlay-portfolio {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-box1 {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: visible;
}
.overlay-name-photos-main1 {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, border-color;
}
.overlay-name-photos-main1 > P {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  scale: 1;
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visability;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 601px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 px 1 px 3 px RGBA(0, 0, 0, 0.12),
    0 px 1px1px RGBA(0, 0, 0, 0.14), 0 px 2 px 1pxRGBA (0, 0, 0, 0.2);
  opacity: inherit;
  visibility: inherit;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill, border-color;
}
.close-btn {
  position: absolute;
  top: 32px;
  right: 22px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  border-color: #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn:hover {
  background-color: #ffffff;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.icon-send {
  fill: #ffffff;
  margin-left: 24.71px;
}
.icon-Vector {
  fill: #000000;
  width: 11px;
  height: 11px;
}
.title-modal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 32px;
}
input {
  padding-left: 40px;
  margin-top: 4px;
  padding: 8px;
  font-family: inherit;
  width: 448px;
  height: 40px;
  padding-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: border-color;
}
input:hover,
input:focus {
  outline: 1px solid #2196f3;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.label-class {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-left: 39px;
}
textarea {
  margin-top: 4px;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: border-color;
}
textarea:hover,
textarea:focus {
  border: 1px solid #2196f3;
}
.textarea-class:focus,
.textarea-class:hover {
  border: 1px solid #2196f3;
}

.textarea-class {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px 12px 16px;
}

.rules {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}
.last-input {
  visibility: hidden;
  height: 0;
}
.icon-vector-last {
  margin-top: 20px;
}
.bird {
  margin-left: 20px;
  margin-right: 8px;
  color: #ffffff;
  background-color: #ffffff;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  transition: border 0.05s, color 0.05s, bacground-color 0.05s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.bird:hover {
  fill: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.rules-color {
  color: #2196f3;
}
.submit-class {
  width: 200px;
  height: 50px;
  left: 713px;
  top: 680px;
  background: #2196f3;
  border-radius: 4px;
  border: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 163px;
}
.svg-icon-vector {
  width: 12px;
  height: 12px;
  position: absolute;
  margin-top: 29px;
  margin-left: 12px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: icon;
}
.svg-icon-vector:hover,
.svg-icon-vector:active {
  fill: #2196f3;
}
.svg-icon-client:checked {
  background-color: #2196f3;
}
.svg-icon-vector-last {
  margin-top: 20px;
}
input:checked + span .icon-vectot-last {
  opacity: 1;
}
